*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    font-family: 'IBM Plex Mono', monospace;
}
/* navbar design */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}


.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: blue;
    transition: 0.3s ease-out;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
/* navbar design ends */

/* cta banner */
.hero img {
    width: 100%;
}
.big-banner {
  background-color: #ea2022;
  width: 100%;
  float: left;
}
.big-banner .banner-text {
  padding: 0;
}
.big-banner .banner-text h2 {
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    margin-top: 39px;
    margin-bottom: 41px;
    display: inline-block;
    position: relative;
}
.big-banner .banner-text h2:before {
  content: "";
  display: block;
  width: 128px;
  height: 32px;
  background: url(https://raw.githubusercontent.com/solodev/cta-with-css/master/image-2.png) no-repeat center center;
  position: absolute;
  top: 0;
  left: -158px;
}
.big-banner .banner-text h2:after {
  content: "";
  display: block;
  width: 128px;
  height: 32px;
  background: url(https://raw.githubusercontent.com/solodev/cta-with-css/master/image-3.png) no-repeat center center;
  position: absolute;
  top: 0;
  right: -158px;
}
.big-banner .banner-text h2 a {
    color: #fff;
}

/* cta banner ends */

a{
    text-decoration: none;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background-color: #fff;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}